<!DOCTYPE html>
<html>
<head>
<title>Ben Adida</title>
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/style.css" type="text/css"></link>
</head>
<body>
<h1>ben adida {{page.title}}</h1>
<div id="nav">
[<a href="/">home</a>] &nbsp;&nbsp;&nbsp;
[<a href="https://github.com/benadida/">code</a>] &nbsp;&nbsp;&nbsp;
[<a href="/research">publications</a>] &nbsp;&nbsp;&nbsp;
[<a href="/presentations/">talks</a>] &nbsp;&nbsp;&nbsp;
[<a href="http://benlog.com">blog</a>] &nbsp;&nbsp;&nbsp;
[<!--<a href="/ben-adida-cv.pdf">CV</a>/<a href="/ben-adida-resume.pdf">resume</a>/--><a href="/bio">bio</a>]
</div>
<div id="container">
{{ content }}
</div>
</body>
</html>
